**.pyc
checkpoints/**
models/__pycache__/__init__.cpython-36.pyc
models/__pycache__/DispResNet.cpython-36.pyc
models/__pycache__/PoseResNet.cpython-36.pyc
models/__pycache__/resnet_encoder.cpython-36.pyc

nohup.out
*.pyc

# jiahan
# tmp
tmp/**

#files
*.npy
*.png

# vscode
.vscode/*

# checkpoints
.ipynb_checkpoints/*

mesure/*

measure.txt
measure_seg.txt
